.ball-card {
    width: 190px;
    height: 310px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
    backdrop-filter: blur(31px);
    border-radius: 30px;
    margin: 20px;
    padding: 16px;
    .ball-card__title {
        display: block;
        height: 40px;
        margin-top: 2px;
        font-size: 18px;
    }
    .ball-card__img {
        display: block;
        width: 85px;
        margin: 0 auto;
    }
    .ball-card__info {
        font-size: 15px;
        line-height: 12px;
    }
}